// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../assets/css/abstracts/_variables.scss";

.planList__popup {
  @include animation(slide-in-bottom ease-in .2s);
  max-width: 800px;
  max-height: 400px;
  top: 15%;
  left: 50%;
  margin-left: -400px;

  @media screen and (max-width: $screen-xs) {
    margin: 0;
    top: 0;
    bottom: 0;
    max-width: inherit;
    margin: 0px;
    left: 0px;

    .modal-content {
      width: 100%;

      .modal-body {
        overflow-y: inherit;
        overflow-x: scroll;
        height: 100%;

        .container__table {
          width: 700px;
        }
      }
    }
  }

  .modal-header {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;

    h1 {
      @include font-size(24px);
      margin: 0px;
      line-height: 20px;
    }

    .btn {
      @include font-size(16px);
      width: 100px;
      font-family: 'AM', sans-serif;
      height: 30px;
      line-height: 30px;
      margin-left: auto;
      display: flex;
      margin-left: auto;
      justify-content: center;
      font-weight: normal;
    }

    img {
      width: 14px;
      cursor: pointer;
      margin-left: 20px;
    }
  }

  .modal-body {
    overflow-y: scroll;
    height: 500px;
    padding: 0px;

    .subscription {

      h2 {
        font-family: 'AB', sans-serif;
        margin: 0 0 20px;
      }

      &__details {
        margin-top: 10px;

        &-blurb {
          display: flex;
          justify-content: space-between;
          margin: 0 0 10px;

          p {
            @include font-size(15px);
            padding-right: 2%;
            line-height: 20px;
            display: inline-block;
            margin: 0px;
          }

          i {
            @include font-size(15px);
            padding-left: 2%;
            cursor: pointer;
            float: right;
          }
        }

        &-accordion {
          margin-left: 10px;

          h4 {
            font-family: 'AL', sans-serif;

            strong {
              color: #333;
              font-family: 'AB', sans-serif;
              display: block;
              text-transform: capitalize;
            }
          }
        }

        &-small {
          @include font-size(14px);
          font-family: 'AM', sans-serif;
          font-weight: 500;
          position: relative;
          margin: 0px;
        }

        &-checkbox {
          display: inline-block;
          padding: 0px;
          margin-right: 4px;
          position: relative;
          top: 3px;

          input[type=checkbox] {
            display: none;
          }

          input[type=checkbox]+label {
            height: 15px;
            width: 15px;
            @include border-radius(3px);
            border: 2px solid #ccc;
            cursor: pointer;

            &:hover {
              border-color: #777;
            }
          }

          input[type=checkbox]:checked {

            +label {
              background: rgb(108, 219, 143) url('/assets/svg/check.svg');
              background-size: 9px 9px;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              border-color: $green;
              height: 15px;
              width: 15px;

              &:hover {
                border-color: rgb(49, 190, 94);
                background-color: rgb(73, 173, 105);
              }
            }

          }
        }

        h3 {
          margin: 0 0 10px;
          text-transform: capitalize;

          i {
            @include font-size(16px);
            color: $green;
            margin-right: 10px;
          }

          span {
            float: right;
          }
        }

        h4:not(.register__content__subscription__details-plan) {
          margin: 0 0 5px;
          color: #666;
          display: flex;
          justify-content: space-between;

          span {
            @include font-size(15px);
          }

          &:last-of-type {
            margin: 0px;
          }
        }

        ul {
          @include font-size(14px);
          font-family: 'AL', sans-serif;
          margin-bottom: 20px;
          letter-spacing: .5px;
          list-style: inherit;
          margin-left: 15px;

          li {
            color: #666;
            margin-bottom: 2px;

            &:last-child {
              margin: 0px;
            }
          }
        }
      }

      button {
        letter-spacing: 1px;
        margin-top: 20px;
        text-transform: uppercase;
      }
    }

    .container {
      @media (max-width: $screen-lg) {
        table {
          border: 0;

          thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }

          .table-hide {
            display: none;
          }

          tr {
            td {
              @include font-size(14px);
              font-family: 'AL', sans-serif;
              display: block;
              text-align: right;
              height: 60px;
              color: #666;

              @media (max-width: $screen-sm) {
                height: 55px;
              }

              @media (max-width: $screen-xs) {
                height: 48px;
                padding: 1rem 1.5rem;
              }

              &.title {
                @include font-size(15px);
                font-style: italic;
                font-weight: 500;
                font-family: 'AM', sans-serif;
                color: #333;
                letter-spacing: .5px;
              }

              &[scope="col"] {
                @include font-size(16px);
                font-family: 'AB', sans-serif;
              }

              img {
                display: inline-block;
                width: 15px;
                height: 15px;
              }

              &::before {
                content: attr(data-label);
                float: left;
                font-family: 'AM', sans-serif;
                text-transform: uppercase;
                color: #444;
              }

              a {
                text-decoration: none;
                border: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      tr {
        &.show-mobile {
          background: #fafafa;
          display: none;

          @media (max-width: $screen-lg) {
            display: block;
          }

          td {
            font-family: 'AB', sans-serif;

            &:first-child {
              text-align: right;
            }

            &:before {
              font-family: 'AB', sans-serif;
            }
          }
        }
      }

      &__table {
        padding: 2rem;
        width: 100%;
        display: table;
        table-layout: fixed;
        border-bottom: none;

        td {
          @include font-size(15px);
          padding: 1.2rem 2rem;
          text-align: center;
          border-left: 1px solid #ebebeb;
          color: #5b5e6d;
          line-height: 1.5;
          letter-spacing: .5px;
          vertical-align: middle;

          p {
            font-size: 1rem;
            margin: 0px;
          }

          img {
            width: 20px;
            height: 20px;
            display: inherit;
            margin: 0px auto;
          }

          a {
            color: $green;
            text-decoration: none;
            border-bottom: 1px solid $green;
            transition: all 420ms cubic-bezier(.165, .84, .44, 1);
            word-break: break-word;
          }

          .btn {
            @include font-size(14px);
            font-family: 'AM', serif;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 35px;

            &-primary {
              font-family: 'AB', serif;
            }
          }

          &:first-child {
            text-align: left;
          }
        }

        tr {
          border-bottom: 1px solid #ebebeb;
        }

        &-bottom-padding {
          td {
            padding-bottom: 2rem;
          }
        }

        &-valign-top {
          vertical-align: top;
        }

        &__tooltip {
          vertical-align: top;
          margin-left: 5px;
          cursor: pointer;
          color: #333;
          display: inline-block !important;
          height: 20px;
          position: relative;

          &-content {
            @include transform(translate(10px, -50%));
            display: none;
            transition: all .1s;
            position: absolute;
            z-index: 100;
            padding: 17px 20px 20px;
            background-color: $white;
            box-shadow: 0 0 2px rgba(0, 0, 0, .1);
            width: 300px;
            max-width: 300px;
            font-size: .875rem;
            border-top: 3px solid #eeb523;
            margin-left: 50%;
            left: 100%;
            top: 50%;
            bottom: auto;
            margin-bottom: 0;
          }

          &:hover {

            .pricing__container__table__tooltip-content {
              display: block;
            }
          }
        }

        &-sep {
          display: block;
          width: 35px;
          height: 2px;
          background-color: #eeb523;
          margin: 0 auto 1.5rem;
        }

        &__no-border {
          border-bottom: none !important;
        }

        &-feature {
          background-color: rgba(235, 235, 235, .4);

          td {
            font-family: 'AB', serif;
            font-weight: 400;
            letter-spacing: .5px;
            color: #323648;
            text-align: left;
          }
        }

        &__no-border {
          text-align: center;

          &__price {
            vertical-align: top !important;

            &-title {
              @include font-size(13px);
              font-family: 'AM', serif;
              line-height: 1.2;
              letter-spacing: 1px;
              font-weight: 400;
              margin-top: 1.5rem;
              margin-bottom: .25rem;
              text-transform: uppercase;
              color: #999;
            }

            &-price {
              @include font-size(40px);
              font-family: 'AB', sans-serif;
              margin: 0;
              position: relative;
              font-weight: 500;
              color: #333;

              span {
                @include font-size(16px);
                display: inline-block !important;
                margin-right: 5px;
                vertical-align: middle;
              }
            }

            &-small {
              margin-top: .5rem !important;
            }

            span {
              display: block;
            }
          }
        }
      }

      &-section {
        &.active {
          cursor: inherit;
          background: $green;
          @include border-radius(3px);

          label {
            color: #fff;
          }
        }

        label {
          @include border-radius(3px);
          font-family: 'AM', sans-serif;
          font-weight: 400;
          padding: 5px 20px;
          border: 1px solid $green;
          cursor: pointer;

          &:hover {
            background: $green;
            color: $white;
          }
        }
      }
    }
  }
}
