<ng-template #editaccount>
  <div id="EDIT_ACCOUNT">
    <form #editaccountform="ngForm" (ngSubmit)="userSettingsService.editUserAccount(editaccountform)"
      [formGroup]="userSettingsService.form">
      <div class="modal-header">
        <h1>Edit Account</h1>
        <img src="../../../../../assets/svg/close.svg" (click)="MS.close()" />
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col col-xs-6">
              <strong>First Name</strong>
              <input type="text" formControlName="firstName">
            </div>
            <div class="col col-xs-6">
              <strong>Last Name</strong>
              <input type="text" formControlName="lastName">
            </div>
          </div>
        </div>
        <div class="form-group">
          <strong>Address 1</strong>
          <input type="text" formControlName="addressLine1">
        </div>
        <div class="form-group">
          <strong>Address 2</strong>
          <input type="text" formControlName="addressLine2">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col col-xs-6">
              <strong>City</strong>
              <input type="text" formControlName="city">
            </div>
            <div class="col col-xs-6">
              <strong>State</strong>
              <input type="text" formControlName="state">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col col-xs-6">
              <strong>Zip</strong>
              <input type="text" formControlName="zip">
            </div>
            <div class="col col-xs-6">
              <strong>Phone</strong>
              <input type="text" formControlName="phoneNumber">
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" name="button"
        [disabled]="!userSettingsService.form.valueChanges">Save</button>
    </form>
  </div>
</ng-template>