@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

:host {
  position: relative;
  display: block;
  background-color: #f6f9fc;
  padding: 100px 0 0;

  h6 {
    color: #ff333d;
  }

  p {
    font-family: "Open Sans";
    a {
      color: #ff333d;
      font-weight: 400;

      &:hover {
        color: #333;
      }
    }
  }

  .legal-blurbs {
    position: relative;
    &__first {
      @include flexbox();
      position: absolute;
      right: 100px;
      top: -160px;
      flex-direction: column;
      width: 350px;

      .blurb-flex {
        position: relative;
        top: -120px;
        right: -100px;
      }

      img {
        width: 350px;
        opacity: 0.8;
      }
    }

    &__second {
      @include flexbox();
      @include flex-direction(column);
      position: relative;
      left: 20px;
      top: 200px;
      width: 450px;

      .blurb-flex {
        position: relative;
        top: -120px;
        right: -100px;
      }

      img {
        width: 450px;
        position: absolute;
        left: -160px;
        top: -300px;
        z-index: 1;
        opacity: 0.3;
      }
    }

    &__third {
      @include flexbox();
      position: relative;
      float: right;
      top: 0px;
      flex-direction: column;
      width: 350px;
      left: -200px;

      .blurb-flex {
        position: relative;
      }

      img {
        width: 400px;
        position: absolute;
        right: -60px;
        top: -250px;
        z-index: 1;
        opacity: 0.6;
      }
    }

    img {
      border-radius: 100%;
    }
    h6 {
      font-family: "Roboto";
      font-weight: 500;
    }
    h2 {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 38px;
      width: 400px;
    }

    .blurb-flex {
      @include flexbox();
      @include justify-content(center);
      @include flex-direction(column);
      gap: 1.5rem;
      background: #fff;
      padding: 40px;
      z-index: 2;

      h3 {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 28px;
      }

      ul {
        margin: 0px;
        padding: 0px;

        li {
          display: inline-block;
          padding: 0.5rem 1.75rem;
          font-weight: 700;
          border-radius: 25px;
          border: 2px solid rgb(67, 66, 60);
          margin: 0 20px 20px 0;
          background: transparent;
          font-size: 16px;

          a {
            text-decoration: none;
            color: #333;
            cursor: pointer;
          }

          &:hover {
            background: #ff333d;
            border-color: transparent;

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
