<section class="relative container legal-blurbs">
  <header>
    <h6>Unified Platform</h6>
    <h2 class="mb-20">Legal help for every part of your life.</h2>
  </header>
  <div class="row">
    <p class="col-md-4">
      We bring together everything that's required to create a business and
      tools to maintain or expand your current legal protections. LLC Cheap's
      provides services for your
      <a routerLink="/business-formation">create a business</a>,
      <a routerLink="/intellectual-property">intellectual property</a>,
      <a routerLink="/business-operations">run a business</a>,
      <a routerLink="/personal/marriage-or-divorce">family</a>,
      <a routerLink="/personal/estate-planning">will's & trusts</a>, and
      <a routerLink="/personal/real-estate">real estate</a>.
    </p>
    <p class="ml-40 col-md-3">
      We also help customers convienently track orders, get notified of
      violations, manage upcoming deadlines, and much more.
    </p>
  </div>
  <div class="legal-blurbs__first">
    <img
      src="./assets/img/bakery-owner.png"
      loading="lazy"
      alt="Business woman holding a bag of bread, smiling in front of her shop."
    />
    <div class="blurb-flex">
      <h3>For your business</h3>
      <p>
        Whether you need to form a company, apply for licenses and permits, or
        get a tax ID, we'll set your business up for success.
      </p>
      <ul>
        <li>
          <a
            href="/business/business-formation/"
            data-ga-category="home_page_v1"
            data-ga-label="for_biz_start_my_biz"
          >
            Start my business
          </a>
        </li>
        <li>
          <a
            href="/business/business-formation/llc.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_biz_llc"
          >
            LLC
          </a>
        </li>
        <li>
          <a
            href="/business/business-formation/inc.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_biz_inc"
          >
            Corporation
          </a>
        </li>
        <li>
          <a
            href="/business/business-formation/dba.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_biz_dba"
          >
            DBA
          </a>
        </li>
        <li>
          <a
            href="/business"
            data-ga-category="home_page_v1"
            data-ga-label="view-all"
          >
            View All
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="legal-blurbs__second">
    <div class="blurb-flex">
      <h3>For you and your family</h3>
      <p>
        From wills to powers of attorney, the right estate planning documents
        can safeguard you and your loved ones—both now, and later.
      </p>
      <ul>
        <li>
          <a
            href="/personal/estate-planning"
            data-ga-category="home_page_v1"
            data-ga-label="for_csr_start_my_estate_plan"
          >
            Start my Estate Plan
          </a>
        </li>
        <li>
          <a
            href="/personal/estate-planning/last-will-and-testament.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_csr_last_will"
          >
            Last will
          </a>
        </li>
        <li>
          <a
            href="/personal/estate-planning/living-trust.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_csr_lt"
          >
            Living trust
          </a>
        </li>
        <li>
          <a
            href="/personal/estate-planning/power-of-attorney.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_csr_poa"
          >
            Power of attorney
          </a>
        </li>
      </ul>
    </div>
    <img
      src="./assets/img/family-table.png"
      loading="lazy"
      alt="Dad holding daughter at kitchen table laughing with family during breakfast."
    />
  </div>
  <div class="legal-blurbs__third">
    <img
      src="./assets/img/engineer-cnc.png"
      loading="lazy"
      alt="Engineer working on a project he created."
    />
    <div class="blurb-flex">
      <h3>For your intellectual property</h3>
      <p>
        Need to trademark your logo, copyright a creative work, or patent an
        invention? Protect yourself against copycats.
      </p>
      <ul>
        <li>
          <a
            href="/business/intellectual-property/trademark-registration.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_ip_trademarks"
          >
            Trademarks
          </a>
        </li>
        <li>
          <a
            href="/business/intellectual-property/copyright-registration.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_ip_copyrights"
          >
            Copyrights
          </a>
        </li>
        <li>
          <a
            href="/business/intellectual-property/provisional-application-for-patents.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_ip_patents"
          >
            Patents
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
