<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <ng-container *ngIf="count == null">
      <li class="breadcrumb-item">home</li>
    </ng-container>

    <ng-container *ngIf="count != null">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
    </ng-container>

    <ng-container *ngFor="let breadLink of breadcrumbList; let x = index">
      <li class="breadcrumb-item">
        <a
          *ngIf="
            breadLink !== breadcrumbList[breadcrumbList.length - 1];
            else current
          "
          [routerLink]="['/', breadcrumbList[x]]"
        >
          {{ breadLink.split("-").join(" ") }}</a
        >
        <ng-template #current>{{ breadLink.split("-").join(" ") }}</ng-template>
      </li>
    </ng-container>
  </ol>
</nav>
