<ng-template #select>
  <form [formGroup]="form">
    <div class="modal-header">
      <h1>Select a List</h1>
    </div>
    <div class="modal-body">
      <ng-container *ngFor="let i of SLS.message">
        <alert class="product__message" *ngIf="i" [type]="i.type" (onClosed)="_close(i)" [dismissOnTimeout]="8000"
          [dismissible]="true">
          {{ i.value }}
        </alert>
      </ng-container>
      <div *ngIf="MS.obj.title" class="modal-section">
        <img [defaultImage]="load" [lazyLoad]="MS.obj.image" [alt]="MS.obj.title" />
        <h2>{{MS.obj.title}}</h2>
      </div>
      <a (click)="openCreateListsModal()" class="modal-btn" *ngIf="planService.isAddToListActive">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Create New List
      </a>
      <div class="modal-list">
        <ng-container *ngFor="let list of SLS.shoppingList">
          <div class="modal-list-item">
            <input type="radio" formControlName="select" [id]="list.id" [value]="list.id">
            <label [for]="list.id">{{list.title}}</label>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-footer-cancel" (click)="MS.close()">Cancel</button>
      <button class="modal-footer-btn btn-primary" type="submit" [disabled]="!form.valid || updating"
        (click)="submitListSelection()">Add</button>
    </div>
  </form>
</ng-template>
