<ng-template #chargedue>
  <!-- accessing element by id in modal service -->
  <div id="CHARGE_DUE" class="modal-header">
    <h1>Charge Due</h1>
  </div>
  <div class="modal-body">
    <credit-card #creditCard [profile]="profile" (creditCardValidate)="getCreditCardValidationInformation($event)">
    </credit-card>
  </div>
  <div class="modal-footer">
    <button type="submit" name="button" [disabled]="!cardValidated || loading" (click)="payDue(creditCard)">
      <img *ngIf="loading; else notloading" class="btn-loading" src="assets/svg/three-dots.svg" />
      <ng-template #notloading>
        Charge Due
      </ng-template>
    </button>

  </div>
</ng-template>
