@import "../../../../../assets/css/abstracts/_variables.scss";
@import "../../../../../assets/css/abstracts/_mixins.scss";

.create__list__popup {
  @include animation(slide-in-bottom ease-in .2s);
  top: 50%;
  margin-top: -196.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


  @media screen and (max-width: $screen-xs) {
    margin: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
  }

  .modal-content {
    width: 400px;

    @media screen and (max-width: $screen-xs) {
      @include border-radius(12px 12px 0 0);
      padding: 15px 0 0 0;
      width: 100%;
      position: relative;

      &:before {
        @include border-radius(5px);
        border-top: 1px solid #ccc;
        position: absolute;
        content: '';
        width: 30px;
        height: 4px;
        background: #eee;
        top: 5px;
        left: 50%;
        margin-left: -15px;
      }
    }

    .modal-header {
      h1 {
        @include font-size(24px);
        margin: 0px;
        line-height: 20px;
      }
    }

    .modal-body {
      padding: 15px;

      alert {
        position: inherit;
        top: 0px;
        width: 100%;
        left: 0px;
      }

      .modal-section {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
          width: 60px;
          margin-right: 20px;
        }

        h2 {
          @include font-size(20px);
          margin: 0px;

          @media screen and (max-width: $screen-xs) {
            @include font-size(18px);
          }
        }
      }

      p {
        font-family: 'AL', sans-serif;
        color: #999;
        font-weight: 400;
        margin-top: 20px;

        span {
          margin-right: 20px;
          display: inline-block;

          @media screen and (max-width: $screen-sm) {
            margin: 0 0 20px;
            display: block;
          }

          input {
            @include font-size(18px);
            position: relative;
            top: 2px;
            margin: 0 10px 0 0;
          }

          label {
            font-weight: 400;
            display: inline-block;
            padding: 0px;
          }
        }
      }
    }

    .modal-footer {
      display: flex;

      button {
        @include border-radius(3px);
        @include font-size(16px);
        border: none;
        padding: 10px;
        text-transform: uppercase;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 50%;
      }

      &-cancel {
        margin-right: 10px !important;
        width: 35% !important;
      }

      &-btn {
        width: 65% !important;
      }
    }
  }
}
