<ng-template #retypepassword>
  <form #retypepassword="ngForm" [formGroup]="form">
    <div class="modal-header">
      <h1>Retype Password</h1>
    </div>
    <div class="modal-body">
      <ng-container *ngFor="let i of message">
        <alert [type]="i.type" (onClosed)="close(i)" [dismissOnTimeout]="8000" [dismissible]="true">
          {{i.value}}
        </alert>
      </ng-container>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" formControlName="password">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" (click)="verifyPassword(retypepassword)" [disabled]="!form.valid" name="button">Verify</button>
    </div>
  </form>
</ng-template>
