<ng-template #editlabel>
  <ng-container *ngFor="let i of message">
    <alert *ngIf="i" [type]="i.type"
    (onClosed)="close(i)" [dismissOnTimeout]="8000" [dismissible]="true">
      {{ i.value }}
    </alert>
  </ng-container>
  <form [formGroup]="form" (ngSubmit)="done()">
    <div class="modal-header">
      <h1>Edit Labels</h1>
    </div>
    <div class="modal-body">
      <div class="warning" *ngIf="createLabelStatus(false)">Label already exists.</div>
      <div class="create-label">
        <input placeholder="Enter label name" type="text" class="form-control" formControlName="name">
        <button type="button" [disabled]="loading || createLabelStatus()" class="btn btn-primary"
          (click)="createLabel()"><img src="assets/svg/mobile/plus.svg" alt="Create" /></button>
      </div>

      <ng-container formArrayName="label">
        <ul>
          <ng-container *ngFor="let control of form.controls.label.controls; let idx = index;" [formGroupName]="idx">
            <ng-container *ngIf="!control.get('disabled').value">
              <ng-container *ngIf="!control.get('delete').value">
                <li>
                  <ng-container *ngIf="!control.get('edit').value; else edit">
                    <label [for]="control.get('name').value">{{control.get('name').value}}</label>
                  </ng-container>
                  <ng-template #edit>
                    <input type="text" class="form-control" formControlName="updated">
                  </ng-template>

                  <div class="options">
                    <a *ngIf="control.get('edit').value" class="fa fa-check" (click)="update(idx)"></a>
                    <a *ngIf="!control.get('edit').value" class="fa fa-pencil" (click)="update(idx)"></a>
                    <a class="fa fa-times" (click)="remove(idx)"></a>
                  </div>
                </li>
              </ng-container>
            </ng-container>
          </ng-container>
        </ul>
        <div>

        </div>
      </ng-container>
    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary" type="button"
        (click)="cancel()">Cancel</button>
      <button class="btn btn-primary" type="submit" [disabled]="loading || !form.valid">Done</button>
    </div>
  </form>

</ng-template>
