@import '../variables';
@import '../mixins';

/* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: $html-font-size;
}

body {
  font-weight: 200;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;

  app-root {
    @include flexbox;
    @include justify-content(space-between);
    @include flex-direction(column);
    min-height: 100vh;
  }
}


.hide {
  display: none;
}