/* stylelint-disable number-max-precision */

@import '../mixins';

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container-fluid,
.container {
  margin: 0 auto;
}

.container-fluid {
  padding: 0 2rem;
}

.row {
  @include flex-direction(row);
  @include flex(0, 1, auto);
  @include flex-wrap(wrap);
  @include flexbox;
  @include box-sizing;
}

.row.reverse {
  @include flex-direction(row-reverse);
}

.col.reverse {
  @include flex-direction(column-reverse);
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  @include box-sizing;
  @include flex(0, 0, auto);
  @include flex-grow(0);
  padding: 0 0.5rem;
}

.col-xs {
  @include flex-grow(1);
  @include flex-basis(0);

  -ms-flex-positive: 1;
  max-width: 100%;
}

.col-xs-1 {
  @include flex-basis(8.33333333%);
  max-width: 8.33333333%;
}

.col-xs-2 {
  @include flex-basis(16.66666667%);
  max-width: 16.66666667%;
}

.col-xs-3 {
  @include flex-basis(25%);
  max-width: 25%;
}

.col-xs-4 {
  @include flex-basis(33.33333333%);
  max-width: 33.33333333%;
}

.col-xs-5 {
  @include flex-basis(41.66666667%);
  max-width: 41.66666667%;
}

.col-xs-6 {
  @include flex-basis(50%);
  max-width: 50%;
}

.col-xs-7 {
  @include flex-basis(58.33333333%);
  max-width: 58.33333333%;
}

.col-xs-8 {
  @include flex-basis(66.66666667%);
  max-width: 66.66666667%;
}

.col-xs-9 {
  @include flex-basis(75%);
  max-width: 75%;
}

.col-xs-10 {
  @include flex-basis(83.33333333%);
  max-width: 83.33333333%;
}

.col-xs-11 {
  @include flex-basis(91.66666667%);
  max-width: 91.66666667%;
}

.col-xs-12 {
  @include flex-basis(100%);
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  @include justify-content(flex-start);
  text-align: start;
}

.center-xs {
  @include justify-content(center);
  text-align: center;
}

.end-xs {
  @include justify-content(flex-end);
  text-align: end;
}

.top-xs {
  @include justify-content(flex-start);
}

.middle-xs {
  @include justify-content(center);
}

.bottom-xs {
  @include justify-content(flex-end);
}

.around-xs {
  @include justify-content(space-around);
}

.between-xs {
  @include justify-content(space-between);
}

.first-xs {
  @include order(-1);
}

.last-xs {
  @include order(1);
}

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem;
  }

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    @include box-sizing;
    @include flex(0, 0, auto);
    @include flex-grow(0);
    padding: 0 0.5rem;
  }

  .col-sm {
    @include flex-grow(1);
    @include flex-basis(0);

    -ms-flex-positive: 1;
    max-width: 100%;
  }

  .col-sm-1 {
    @include flex-basis(8.33333333%);
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    @include flex-basis(16.66666667%);
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    @include flex-basis(25%);
    max-width: 25%;
  }

  .col-sm-4 {
    @include flex-basis(33.33333333%);
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    @include flex-basis(41.66666667%);
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    @include flex-basis(50%);
    max-width: 50%;
  }

  .col-sm-7 {
    @include flex-basis(58.33333333%);
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    @include flex-basis(66.66666667%);
    max-width: 66.66666667%;
  }

  .col-sm-9 {
    @include flex-basis(75%);
    max-width: 75%;
  }

  .col-sm-10 {
    @include flex-basis(83.33333333%);
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    @include flex-basis(91.66666667%);
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    @include flex-basis(100%);
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    @include justify-content(flex-start);
    text-align: start;
  }

  .center-sm {
    @include justify-content(center);
    text-align: center;
  }

  .end-sm {
    @include justify-content(flex-end);
    text-align: end;
  }

  .top-sm {
    @include justify-content(flex-start);
  }

  .middle-sm {
    @include justify-content(center);
  }

  .bottom-sm {
    @include justify-content(flex-end);
  }

  .around-sm {
    @include justify-content(space-around);
  }

  .between-sm {
    @include justify-content(space-between);
  }

  .first-sm {
    @include order(-1);
  }

  .last-sm {
    @include order(1);
  }
}

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    @include box-sizing;
    @include flex(0, 0, auto);
    @include flex-grow(0);
    padding: 0 0.5rem;
  }

  .col-md {
    @include flex-grow(1);
    @include flex-basis(0);

    -ms-flex-positive: 1;
    max-width: 100%;
  }

  .col-md-1 {
    @include flex-basis(8.33333333%);
    max-width: 8.33333333%;
  }

  .col-md-2 {
    @include flex-basis(16.66666667%);
    max-width: 16.66666667%;
  }

  .col-md-3 {
    @include flex-basis(25%);
    max-width: 25%;
  }

  .col-md-4 {
    @include flex-basis(33.33333333%);
    max-width: 33.33333333%;
  }

  .col-md-5 {
    @include flex-basis(41.66666667%);
    max-width: 41.66666667%;
  }

  .col-md-6 {
    @include flex-basis(50%);
    max-width: 50%;
  }

  .col-md-7 {
    @include flex-basis(58.33333333%);
    max-width: 58.33333333%;
  }

  .col-md-8 {
    @include flex-basis(66.66666667%);
    max-width: 66.66666667%;
  }

  .col-md-9 {
    @include flex-basis(75%);
    max-width: 75%;
  }

  .col-md-10 {
    @include flex-basis(83.33333333%);
    max-width: 83.33333333%;
  }

  .col-md-11 {
    @include flex-basis(91.66666667%);
    max-width: 91.66666667%;
  }

  .col-md-12 {
    @include flex-basis(100%);
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    @include justify-content(flex-start);
    text-align: start;
  }

  .center-md {
    @include justify-content(center);
    text-align: center;
  }

  .end-md {
    @include justify-content(flex-end);
    text-align: end;
  }

  .top-md {
    @include justify-content(flex-start);
  }

  .middle-md {
    @include justify-content(center);
  }

  .bottom-md {
    @include justify-content(flex-end);
  }

  .around-md {
    @include justify-content(space-around);
  }

  .between-md {
    @include justify-content(space-between);
  }

  .first-md {
    @include order(-1);
  }

  .last-md {
    @include order(1);
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem;
  }

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    @include box-sizing;
    @include flex(0, 0, auto);
    @include flex-grow(0);
    padding: 0 0.5rem;
  }

  .col-lg {
    @include flex-grow(1);
    @include flex-basis(0);

    -ms-flex-positive: 1;
    max-width: 100%;
  }

  .col-lg-1 {
    @include flex-basis(8.33333333%);
    max-width: 8.33333333%;
  }

  .col-lg-2 {
    @include flex-basis(16.66666667%);
    max-width: 16.66666667%;
  }

  .col-lg-3 {
    @include flex-basis(25%);
    max-width: 25%;
  }

  .col-lg-4 {
    @include flex-basis(33.33333333%);
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    @include flex-basis(41.66666667%);
    max-width: 41.66666667%;
  }

  .col-lg-6 {
    @include flex-basis(50%);
    max-width: 50%;
  }

  .col-lg-7 {
    @include flex-basis(58.33333333%);
    max-width: 58.33333333%;
  }

  .col-lg-8 {
    @include flex-basis(66.66666667%);
    max-width: 66.66666667%;
  }

  .col-lg-9 {
    @include flex-basis(75%);
    max-width: 75%;
  }

  .col-lg-10 {
    @include flex-basis(83.33333333%);
    max-width: 83.33333333%;
  }

  .col-lg-11 {
    @include flex-basis(91.66666667%);
    max-width: 91.66666667%;
  }

  .col-lg-12 {
    @include flex-basis(100%);
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    @include justify-content(flex-start);
    text-align: start;
  }

  .center-lg {
    @include justify-content(center);
    text-align: center;
  }

  .end-lg {
    @include justify-content(flex-end);
    text-align: end;
  }

  .top-lg {
    @include justify-content(flex-start);
  }

  .middle-lg {
    @include justify-content(center);
  }

  .bottom-lg {
    @include justify-content(flex-end);
  }

  .around-lg {
    @include justify-content(space-around);
  }

  .between-lg {
    @include justify-content(space-between);
  }

  .first-lg {
    @include order(-1);
  }

  .last-lg {
    @include order(1);
  }
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container::after,
.row::after,
.u-cf {
  clear: both;
  content: '';
  display: table;
}
