<ng-template #sharelist>
  <ng-container *ngIf="selectedList; else listloading">
    <div id="shareListModal" class="modal-header">
      <h2>Share List</h2>
    </div>
    <div class="modal-body">
      <ng-container *ngFor="let i of message">
        <alert *ngIf="i" [type]="i.type" (onClosed)="_close(i)" [dismissOnTimeout]="8000" [dismissible]="true">
          {{i.value}}
        </alert>
      </ng-container>
      <div class="share-list">
        <img [defaultImage]="load" [lazyLoad]="listImage">
        <div class="share-list-text">
          <h1>{{selectedList['title']}}</h1>
          <p *ngIf="selectedList['description']">{{selectedList['description']}}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="text" name="" #userinput [value]="listUrl">
      <button type="button" name="button" class="btn btn-primary" (click)="copyListURL(userinput)">Copy</button>
    </div>
  </ng-container>

  <ng-template #listloading>
    <div class="modal-body">
      Please wait...
    </div>
  </ng-template>
</ng-template>
