@import "../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../assets/css/abstracts/_variables.scss";

.share__list__popup {
  @include animation(slide-in-bottom ease-in .2s);
  max-width: 500px;
  width: 100% !important;
  top: 50%;
  margin-top: -196.5px;

  alert {
    top: 0px;
    @include font-size(15px);
    position: inherit !important;
    left: 0px !important;
  }

  .modal-header {
    h2 {
      @include font-size(24px);
      margin: 0px;
      line-height: 20px;
    }
  }

  .share-list {
    display: flex;
    justify-content: flex-end;

    img {
      width: 60px;
      margin-right: 20px;
    }

    &-text {
      display: block;

      h1 {
        @include font-size(22px);
        margin: 0px;
      }

      p {
        margin: 10px 0px 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .modal-footer {
    display: flex;

    .btn {
      @include font-size(16px);
      font-weight: 400;
      width: 100px;
      padding: 0;
      line-height: 36px;
      margin-left: 15px
    }
  }
}
