<ng-template #filterlists>
  <form [formGroup]="form" (ngSubmit)="done()">
    <div class="modal-body">
      <ng-container formArrayName="label">
        <ul>
          <ng-container *ngFor="let control of form.controls.label.controls; let idx = index;" [formGroupName]="idx">
            <li (click)="onChangeListLabel(control)">
              <label [for]="control.get('name').value"><input type="checkbox" formControlName="selected">
                {{control.get('name').value}}</label>
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>

    <div class="modal-footer">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Update</button>
    </div>
  </form>
</ng-template>
