@import "../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../assets/css/abstracts/_variables.scss";

.search {
  user-select: none;

  .search-wrapper {

    .wrapper {
      @include font-size(15px);
      border: 1px solid #ddd;
      background: $white;
      width: 100%;
      display: flex;

      label {
        font-family: 'AS', sans-serif;
        padding: 0 10px 0 20px;
        vertical-align: middle;
        display: inline-flex;
        color: #666;
        font-weight: 700;
      }

      .inner-wrapper {
        width: 89%;
        display: flex;
        align-items: center;
        position: relative;

        .loader,
        .closed {
          position: absolute;
          right: 0px;
          top: 14px;
          width: 13px;
          height: 13px;
        }

        .closed {
          cursor: pointer;
        }

        .food-dropdown {
          @include border-radius(0 0 4px 4px);
          @include box-shadow(0 2px 6px rgba(57, 73, 76, 0.35));
          font-family: 'AM', sans-serif;
          background: #fafafa;
          position: absolute;
          top: 40px;
          left: 0px;
          background-color: $white;
          max-height: 430px;
          overflow-y: auto;
          width: 100%;
          z-index: 2;

          li {
            @include font-size(14px);
            margin: 0;
            line-height: 1.28571em;
            text-align: left;

            strong {
              font-family: 'AB', sans-serif;
            }

            a {
              color: #000;
              transition: none;
              padding: 8px 15px;
              cursor: pointer;
              display: block;

              &:hover {
                background: $green;
                color: $white;
              }
            }

            span {
              display: block;
              padding: 8px 15px;
            }
          }
        }

        .overflow {
          overflow: hidden;
          display: inline-flex;
          position: relative;
          vertical-align: middle;
          position: relative;
          width: 85%;
          margin-right: 15px;

          input {
            width: 92%;
            border: none;
            padding: 11px 0;
            color: #333;

            &::-moz-placeholder {
              color: #aaa;
            }
          }
        }

        &::after {
          position: absolute;
          right: 0px;
          top: 6px;
          content: '';
          display: block;
          border-left: 1px solid #eee;
          width: 1px;
          height: 29px;
        }
      }

      .filter {
        @include font-size(14px);
        float: right;
        width: 11%;
        padding: 0 8px;
        border: none;
        line-height: 40px;
        text-align: center;
        position: relative;

        &:focus {
          outline-width: 0;
        }

        span {
          cursor: pointer;

          >* {
            display: inline-flex;
            vertical-align: text-bottom;
          }

          img {
            width: 15px;
          }
        }

        ul {
          @include border-radius(3px);
          @include box-shadow(0 1px 3px rgba(46, 59, 125, 0.23));
          position: absolute;
          width: 200px;
          background: #363636;
          z-index: 2;
          top: 55px;
          left: -155px;
          text-align: left;
          padding: 5px 0;

          li {
            @include font-size(14px);
            padding: 4px 10px;
            letter-spacing: .5px;
            line-height: 18px;
            color: #aaa;
            cursor: pointer;

            &:hover,
            &.active {
              background: #444;
              color: $white;
            }
          }

          &:after {
            bottom: 100%;
            right: 20px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #363636;
            border-width: 5px;
            margin-left: -5px;
          }
        }
      }
    }

    @media screen and (max-width: $screen-sm) {
      display: grid;
      margin: 0 15px 15px;

      .wrapper {
        @include border-radius(3px);
        position: relative;
        display: flex;

        label {
          padding-left: 10px;
        }

        .inner-wrapper {
          padding-left: 15px;
          width: inherit;

          &:after {
            display: none !important;
          }

          .overflow {
            width: 100%;

            input {
              width: 100%;
              padding: 13px 0;
            }
          }
        }

        .mobile-actions {
          padding: 0 15px;
          display: flex;
          justify-content: space-between;
          width: 100px;
          align-items: center;

          img {
            width: 20px;
          }
        }
      }
    }
  }
}
