<ng-template #twofactorauthentication>
  <div id="EDIT_TWO_FACTOR_AUTHENTICATION" class="modal-header">
    <h1>Two Factor Authentication</h1>
  </div>
  <form [formGroup]="form">
    <div class="modal-body">
        <div class="form-group">
          <label for="">Enable <input type="checkbox" formControlName="enabled" value="1"></label>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" name="button" (click)="applyTwoFactorAuthentication()">Edit</button>
    </div>
  </form>
</ng-template>
