@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Six Caps";
  src: url("./SixCaps-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
  font-weight: 300;
}
