<section class="splash container">
  <div class="slogan-text mt-70">
    <header>
      <h1>
        Legal infrastructure for
        <div class="scrolling-text-line-wrapper">
          your
          <div class="scrolling-text-wrapper">
            <ul class="scrolling-text">
              <li>business.</li>
              <li>family.</li>
              <li>property.</li>
              <li>brand.</li>
              <li>corporation.</li>
            </ul>
          </div>
        </div>
      </h1>
      <h5>
        We make it super convienent, fast, and affordable to start and or grow
        your business. Cheap never sounded so good.
      </h5>
    </header>
    <div class="search-bar" [formGroup]="search">
      <input
        formControlName="input"
        placeholder="Search your business name"
        type="text"
        class="main-input main-name"
      />

      <select formControlName="select">
        <option *ngFor="let i of stateList" [ngValue]="i.appr">
          {{ i.name }}
        </option>
      </select>
      <button
        id="main-submit"
        (click)="searchEntity()"
        [disabled]="!search.valid"
      >
        Search
      </button>
    </div>
    <div class="splash__trust col-md-offset-1">
      <img src="./assets/svg/trustpilot.svg" alt="trust pilot" />
      <ol>
        <li>
          <img src="./assets/svg/trust-pilot-star.svg" alt="" />
        </li>
        <li>
          <img src="./assets/svg/trust-pilot-star.svg" alt="" />
        </li>
        <li>
          <img src="./assets/svg/trust-pilot-star.svg" alt="" />
        </li>
        <li>
          <img src="./assets/svg/trust-pilot-star.svg" alt="" />
        </li>
        <li>
          <img src="./assets/svg/trust-pilot-star.svg" alt="" />
        </li>
      </ol>
    </div>
  </div>
  <div class="monitor">
    <div class="website">
      <div class="content"></div>
    </div>
  </div>
</section>
<div class="wall"></div>

<app-business></app-business>
<app-services></app-services>
<app-resources></app-resources>
<app-social></app-social>
