.splash {
  z-index: 0;
  height: 550px;
  position: relative;

  .slogan-text {
    z-index: 1;
    width: 650px;

    h1 {
      font-size: 80px;
      letter-spacing: 0px;
      line-height: 80px;
      font-family: "Roboto";
      margin-bottom: 20px;
      color: #333;

      .scrolling-text-line-wrapper {
        display: inline-flex;
        justify-self: center;
        align-items: center;
        position: relative;
        top: -12px;

        .scrolling-text-wrapper {
          height: 100px;
          margin: auto;
          overflow: hidden;
          display: inline-block;
          padding-left: 15px;

          .scrolling-text {
            list-style: none;
            padding: 0px;
            margin: 0 0.625rem;
            animation: scrollUp 20s infinite;

            li {
              display: flex;
              align-items: center;
              height: 100px;
              justify-content: flex-start;
            }
          }
        }
      }
    }

    h5 {
      font-size: 20px;
      font-family: "Roboto";
      font-weight: 200;
      width: 550px;
      color: #555;
    }
  }
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    margin-top: 40px;

    .main-input {
      background: #fff;
      height: 48px;
      color: #a7b1ab;
      border: 1px solid #cccccc;
      margin-bottom: 0px;
      -webkit-appearance: none;
      border-radius: 30px 0px 0px 30px;
      -moz-border-radius: 30px 0px 0px 30px;
      -webkit-border-radius: 30px 0px 0px 30px;
      display: inline-block;
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      padding: 0px 0px 0px 57px;
      font-size: 16px;
      border-right: 0px;
      background: #ffffff
        url("http://seodesigns.com/projects/TD/images/search.png") 18px 15px
        no-repeat;
      background-size: 18px 18px;
      width: 75%;
    }

    #main-submit {
      background: #3cb13c;
      color: #fff;
      display: inline-block;
      font-size: 19px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      margin-bottom: 0px;
      -webkit-appearance: none;
      border-radius: 0px 30px 30px 0px;
      -moz-border-radius: 0px 30px 30px 0px;
      -webkit-border-radius: 0px 30px 30px 0px;
      width: 141px;
      height: 50px;
      border: 0px;
      padding: 0px 20px 0px;
      float: left;

      &:hover {
        background: #00a221;
        color: #fff !important;
        -webkit-appearance: none;
      }

      &[disabled] {
        opacity: 0.6;
      }
    }

    select {
      display: inline-block;
      width: 150px;
      height: 50px;
      font-size: 16px;
      border: 1px solid #cccccc;
      padding: 0px 20px;
      position: relative;
      width: 200px;
      border-right: 0px;
      background: #ffffff;
      cursor: pointer;
      -moz-appearance: none;
      -webkit-appearance: none;
      apperance: none;
      background: #ffffff
        url(http://seodesigns.com/projects/TD/images/main-bullet.png) 150px 22px
        no-repeat;
      background-size: 7px 7px;

      option {
        font-size: 15px;
        color: #4a4a4a;
        padding: 6px 0px;
        display: block;
        padding: 5px 0 16px 5px;

        &:hover {
          background: #f8f8f8;
        }
      }
    }
  }

  .monitor {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;

    .website {
      border-radius: 8px;
      position: absolute;
      top: -20px;
      left: -250px;
      display: grid;
      grid: auto/152px 1fr;
      gap: 24px;
      width: 929px;
      border-radius: 8px;
      background: linear-gradient(
        hsla(0, 0%, 100%, 0.4),
        hsla(0, 0%, 100%, 0.3) 25%,
        rgba(246, 249, 252, 0.3) 50%,
        #f6f9fc 60%
      );
      box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 10%),
        0 50px 100px -20px rgb(50 50 93 / 25%),
        0 30px 60px -30px rgb(0 0 0 / 30%);
      font-size: 11px;
      font-weight: 300;
      letter-spacing: 0.2px;
      line-height: 14px;
      color: #425466;
      z-index: 3;
    }

    .screen {
      width: 350px;
      right: 0px;
      top: 0px;
      position: relative;
    }
  }
  &__trust {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1.5rem;
    row-gap: 0.75rem;
    margin-top: 40px;
    justify-content: flex-end;

    ol {
      display: flex;
      list-style: none;
      gap: 5px;
      margin: 0px;
      padding: 0px;

      li {
        background: #dcdce6;
        position: relative;
        padding: 3px 4px 4px;
        display: flex;

        &:before {
          content: "";
          background: #00b67a;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          z-index: 0;
          width: 100%;
        }

        &:last-child {
          &:before {
            width: 60%;
          }
        }

        img {
          z-index: 1;
          position: relative;
        }
      }
    }
  }
}

.wall {
  --gradientColorZero: #a960ee;
  --gradientColorOne: #ff333d;
  --gradientColorTwo: #90e0ff;
  --gradientColorThree: #ffcb57;
  --gradientColorZeroTransparent: rgba(169, 96, 238, 0);
  --gradientColorOneTransparent: rgba(255, 51, 61, 0);
  --gradientColorTwoTransparent: rgba(144, 224, 255, 0);
  --gradientColorThreeTransparent: rgba(255, 203, 87, 0);
  --gradientAngle: var(--angleStrong);
  --gradientHeight: calc(
    100% + var(--sectionPaddingTop) + var(--transformOriginX) *
      var(--sectionAngleSin)
  );
  --offsetX: var(--gutterWidth);
  --transformOriginX: -60px;
  --sectionAngleSin: var(--angleStrongSin);

  position: absolute;
  width: 100%;
  height: 800px;
  top: -400px;
  transform: skewY(4deg);
  background: radial-gradient(
        var(--gradientColorThree) 23%,
        var(--gradientColorThreeTransparent) 67% 100%
      )
      385px -24px,
    radial-gradient(
        var(--gradientColorOne) 0,
        var(--gradientColorOneTransparent) 60% 100%
      ) -940px 290px,
    radial-gradient(
        var(--gradientColorTwo) 10%,
        var(--gradientColorTwoTransparent) 60% 100%
      ) -120px 250px,
    radial-gradient(
        var(--gradientColorOne) 40%,
        var(--gradientColorOneTransparent) 57% 100%
      )
      495px -44px,
    radial-gradient(
        var(--gradientColorZero) 30%,
        var(--gradientColorZeroTransparent) 67% 100%
      )
      122px -120px,
    radial-gradient(
        var(--gradientColorZero) 10%,
        var(--gradientColorZeroTransparent) 60% 100%
      ) -420px 120px,
    radial-gradient(
        var(--gradientColorTwo) 15%,
        var(--gradientColorTwoTransparent) 50% 100%
      ) -620px 0,
    radial-gradient(
        var(--gradientColorTwo) 25%,
        var(--gradientColorTwoTransparent) 50% 100%
      )
      520px -250px,
    var(--gradientColorZero);
  z-index: -2;
}

.relative {
  position: relative;
}
