<div class="splash">
  <div class="slogan-text mt-80">
    <h1>
      Legal infrastructure for
      <div class="scrolling-text-line-wrapper">
        your
        <div class="scrolling-text-wrapper">
          <ul class="scrolling-text">
            <li>business.</li>
            <li>family.</li>
            <li>property.</li>
            <li>brand.</li>
            <li>corporation.</li>
          </ul>
        </div>
      </div>
    </h1>
    <h5>
      We make is super convienent, fast, and affordable to start and or grow
      your business. Cheap never sounded so good.
    </h5>

    <div class="search-bar" [formGroup]="search">
      <input
        formControlName="input"
        placeholder="Search your business name"
        type="text"
        class="main-input main-name"
      />

      <select formControlName="select">
        <option *ngFor="let i of stateList" [ngValue]="i.appr">
          {{ i.name }}
        </option>
      </select>
      <button
        id="main-submit"
        (click)="searchEntity()"
        [disabled]="!search.valid"
      >
        Search
      </button>
    </div>
  </div>
  <div class="monitor">
    <div class="website">
      <div class="holder">
        <div class="column left">
          <span class="dot" style="background: #ed594a"></span>
          <span class="dot" style="background: #fdd800"></span>
          <span class="dot" style="background: #5ac05a"></span>
        </div>
        <div class="column middle">
          <input type="text" value="http://www.w3schools.com" />
        </div>
        <div class="column right">
          <div style="float: right">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </div>
      <div class="content"></div>
    </div>
    <img class="screen" src="./assets/img/monitor.png" />
    <img class="man" src="./assets/img/man.png" />
  </div>

  <div class="wall"></div>
  <div class="background-floor"></div>
</div>

<div class="relative container legal-blurbs">
  <h2 class="mb-80 ml-60">Legal help for every part of your life.</h2>

  <div class="row">
    <img
      src="./assets/img/bakery-owner.png"
      loading="lazy"
      alt="Business woman holding a bag of bread, smiling in front of her shop."
      class="col-xs-4 col-xs-offset-1"
    />
    <div class="col-xs-5 col-xs-offset-1 blurb-flex">
      <h3 class="text-2xl font-extrabold leading-7 tracking-tightest">
        For your business
      </h3>
      <p class="">
        Whether you need to form a company, apply for licenses and permits, or
        get a tax ID, we'll set your business up for success.
      </p>
      <ul>
        <li>
          <a
            href="/business/business-formation/"
            data-ga-category="home_page_v1"
            data-ga-label="for_biz_start_my_biz"
          >
            Start my business
          </a>
        </li>
        <li>
          <a
            href="/business/business-formation/llc.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_biz_llc"
          >
            LLC
          </a>
        </li>
        <li>
          <a
            href="/business/business-formation/inc.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_biz_inc"
          >
            Corporation
          </a>
        </li>
        <li>
          <a
            href="/business/business-formation/dba.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_biz_dba"
          >
            DBA
          </a>
        </li>
        <li>
          <a
            href="/business"
            data-ga-category="home_page_v1"
            data-ga-label="view-all"
          >
            View All
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-100">
    <div class="col-xs-5 col-xs-offset-1 blurb-flex">
      <h3 class="text-2xl font-extrabold leading-7 tracking-tightest">
        For you and your family
      </h3>
      <p class="">
        From wills to powers of attorney, the right estate planning documents
        can safeguard you and your loved ones—both now, and later.
      </p>
      <ul>
        <li>
          <a
            href="/personal/estate-planning"
            data-ga-category="home_page_v1"
            data-ga-label="for_csr_start_my_estate_plan"
          >
            Start my Estate Plan
          </a>
        </li>
        <li>
          <a
            href="/personal/estate-planning/last-will-and-testament.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_csr_last_will"
          >
            Last will
          </a>
        </li>
        <li>
          <a
            href="/personal/estate-planning/living-trust.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_csr_lt"
          >
            Living trust
          </a>
        </li>
        <li>
          <a
            href="/personal/estate-planning/power-of-attorney.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_csr_poa"
          >
            Power of attorney
          </a>
        </li>
      </ul>
    </div>
    <img
      src="./assets/img/family-table.png"
      loading="lazy"
      alt="Dad holding daughter at kitchen table laughing with family during breakfast."
      class="col-xs-4 col-xs-offset-1"
    />
  </div>
  <div class="row mt-100">
    <img
      src="./assets/img/engineer-cnc.png"
      loading="lazy"
      alt="Engineer working on a project he created."
      class="col-xs-4 col-xs-offset-1"
    />
    <div class="col-xs-5 col-xs-offset-1 blurb-flex">
      <h3 class="text-2xl font-extrabold leading-7 tracking-tightest">
        For your intellectual property
      </h3>
      <p class="">
        Need to trademark your logo, copyright a creative work, or patent an
        invention? Protect yourself against copycats.
      </p>
      <ul>
        <li>
          <a
            href="/business/intellectual-property/trademark-registration.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_ip_trademarks"
          >
            Trademarks
          </a>
        </li>
        <li>
          <a
            href="/business/intellectual-property/copyright-registration.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_ip_copyrights"
          >
            Copyrights
          </a>
        </li>
        <li>
          <a
            href="/business/intellectual-property/provisional-application-for-patents.html"
            data-ga-category="home_page_v1"
            data-ga-label="for_ip_patents"
          >
            Patents
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
