@import "../../../../../assets/css/abstracts/_variables.scss";
@import "../../../../../assets/css/abstracts/_mixins.scss";

.confirmation__popup {
  @include animation(slide-in-bottom ease-in .2s);
  width: 400px;
  top: 50%;
  margin-top: -70.5px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $screen-xs) {
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    top: inherit;

    .modal-content {
      @include border-radius(12px 12px 0 0);
      bottom: 0px;
      position: absolute;
      left: 0;
      right: 0;

      &:before {
        @include border-radius(5px);
        border-top: 1px solid #ccc;
        position: absolute;
        content: '';
        width: 30px;
        height: 4px;
        background: #eee;
        top: 5px;
        left: 50%;
        margin-left: -15px;
      }
    }
  }

  .modal-body {
    @include font-size(18px);
    padding: 20px 15px;
    font-family: 'AM', sans-serif;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 15px 15px;
    border: none;

    button {
      font-weight: 400;

      @media screen and (max-width: $screen-xs) {
        line-height: 39px;
      }

      &.btn {
        font-family: 'AL', sans-serif;
      }

      &.btn-primary {
        font-family: 'AM', sans-serif;
      }

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
