@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

header {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 2;

  .logo {
    font-size: 17px;
    font-family: "Open Sans";
  }

  nav {
    font-size: 16px;
    position: relative;
    margin: 0 auto;

    > ul {
      padding: 0px;
      display: inline-flex;
      margin-top: 25px;

      > li {
        display: inline-block;
        margin: 0 25px;
        position: relative;
        font-family: "Roboto";
        font-weight: 300;
        letter-spacing: 0.5px;

        span {
          display: block;
          padding-bottom: 15px;
        }

        .dropdown,
        .regular {
          background: #333;
          border-radius: 6px;

          &.one {
            width: 700px;
          }

          &.two {
            width: 500px;
          }
        }

        .regular {
          padding: 15px;
          list-style: none;
          width: 125px;
          top: 40px;

          li {
            margin-bottom: 10px;
            font-size: 14px;
          }

          &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 1px;
            border: 5px solid transparent;
            border-bottom-color: #333;
            left: 26px;
            top: -10px;
            margin-left: -5px;
          }
        }

        .dropdown {
          left: -250px;
          width: 600px;
          padding: 25px;

          &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 1px;
            border: 5px solid transparent;
            border-bottom-color: #333;
            left: 280px;
            top: -10px;
            margin-left: -5px;
          }

          a {
            margin-bottom: 14px;
            display: block;
            color: #fff;
            font-weight: bold;
            font-family: 15px;
            letter-spacing: 0px;
          }

          ul {
            margin: 0px;
            list-style: none;
            padding: 0px;
            font-family: "Roboto";

            li {
              font-size: 14px;
              padding-bottom: 10px;
              letter-spacing: 0px;

              &.hr {
                margin-top: 15px;
                padding-bottom: 0px;

                &:before {
                  content: "";
                  border-top: 2px solid #fff;
                  width: 30px;
                  padding-top: 15px;
                  display: block;
                }
              }
            }
          }
        }

        .dropdown,
        .regular {
          display: none;
          position: absolute;
        }

        .regular {
          left: 0px;
        }

        &:hover {
          .dropdown,
          .regular {
            display: block;
          }
        }
      }
    }
  }

  .login {
    font-size: 14px;
    border: none;
    background: rgba(58, 57, 68, 0.06);
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    font-family: "Roboto";
    text-decoration: none;

    &:hover {
      background: rgba(58, 57, 68, 0.26);
    }
  }
}
