<header class="container">
  <img
    class="logo"
    alt="LLC.Cheap"
    src="./assets/favicon/android-chrome-192x192.png"
  />
  <nav>
    <ul>
      <li>
        <a routerLink="/business">Business</a>
        <div class="dropdown one">
          <div class="dropdown-row">
            <div class="dropdown-column">
              <a class="dropdown-title" routerLink="business-formation"
                >Register your business</a
              >
              <ul>
                <li>
                  <a routerLink="business-formation/llc">
                    Limited Liability Company (LLC)
                  </a>
                </li>
                <li>
                  <a routerLink="business-formation/inc"
                    >Corporation (C Corp, S Corp)
                  </a>
                </li>
                <li>
                  <a routerLink="business-formation/dba"
                    >Doing business as (DBA)
                  </a>
                </li>
                <li>
                  <a routerLink="business-formation/nonprofit"> Nonprofit </a>
                </li>
                <li>
                  <a routerLink="business-formation/sole-proprietorship">
                    Sole Proprietorship
                  </a>
                </li>
                <li class="hr">
                  <a routerLink="business-formation">View All</a>
                </li>
              </ul>
            </div>
            <div class="dropdown-column">
              <a class="dropdown-title" routerLink="business-operations"
                >Run your business</a
              >
              <ul>
                <li>
                  <a routerLink="business-operations/registered-agent">
                    Registered Agent Services
                  </a>
                </li>
                <li>
                  <a routerLink="business-operations/annual-report">
                    Annual Report
                  </a>
                </li>
                <li>
                  <a routerLink="business-operations/business-advisory-plan">
                    Business Advisory Plan
                  </a>
                </li>
                <li>
                  <a routerLink="business-operations/certicate-good-standing">
                    Certificate of Good Standing
                  </a>
                </li>
                <li>
                  <a routerLink="business-operations/foreign-qualifications">
                    Foreign Qualification
                  </a>
                </li>
                <li class="hr">View All</li>
              </ul>
            </div>
            <div class="dropdown-column">
              <a class="dropdown-title" routerLink="intellectual-property"
                >Protect your brand</a
              >
              <ul>
                <li>
                  <a routerLink="intellectual-property/trademark-registration">
                    Trademark Registration
                  </a>
                </li>
                <li>
                  <a routerLink="intellectual-property/trademark-monitoring">
                    Trademark Search
                  </a>
                </li>
                <li>
                  <a routerLink="intellectual-property/utility-patent">
                    Utility Patent
                  </a>
                </li>
                <li>
                  <a routerLink="intellectual-property/provisional-patent">
                    Provisional Parent
                  </a>
                </li>
                <li>
                  <a routerLink="intellectual-property/copyright-registration">
                    Copyright
                  </a>
                </li>
                <li class="hr">View All</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a routerLink="/personal">Personal</a>
        <div class="dropdown two">
          <div class="dropdown-row">
            <div class="dropdown-column">
              <a class="dropdown-title" routerLink="personal/estate-planning"
                >Wills & Trusts</a
              >
              <ul>
                <li>
                  <a routerLink="personal/estate-planning/last-will-testiment">
                    Last Will & Testament
                  </a>
                </li>
                <li>
                  <a routerLink="personal/estate-planning/living-trust">
                    Living Trust
                  </a>
                </li>
                <li>
                  <a
                    routerLink="personal/estate-planning/financial-power-of-attorney"
                  >
                    Power of Attorney
                  </a>
                </li>
                <li>
                  <a routerLink="personal/estate-planning/living-will">
                    Living Will
                  </a>
                </li>
              </ul>
            </div>
            <div class="dropdown-column">
              <a
                class="dropdown-title"
                routerLink="personal/marriage-or-divorce"
                >Family</a
              >
              <ul>
                <li>
                  <a routerLink="personal/marriage-or-divorce">Divorce</a>
                </li>
                <li><a routerLink="personal/name-change">Name Change</a></li>
              </ul>
            </div>
            <div class="dropdown-column">
              <a class="dropdown-title" routerLink="personal/real-estate"
                >Real Estate</a
              >
              <ul>
                <li>
                  <a routerLink="personal/residential-lease"
                    >Residential Lease</a
                  >
                </li>
                <li>
                  <a routerLink="personal/residential-lease"
                    >Property Deed Transfer</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li><a routerLink="/resources">Resources</a></li>
      <li>
        <a routerLink="/support">Support</a>
        <ul class="regular">
          <li>Check Order Status</li>
          <li>Contact Us</li>
          <li>FAQ</li>
        </ul>
      </li>
    </ul>
  </nav>

  <a class="login" routerLink="login">Sign In</a>
</header>
