<header class="container">
  <span class="logo">cheap</span>
  <nav>
    <ul>
      <li>
        <span>Business</span>
        <div class="dropdown">
          <div class="row">
            <div class="col col-xs-4">
              <a>Register your business</a>
              <ul>
                <li>Limited Liability Company (LLC)</li>
                <li>Corporation (C Corp, S Corp)</li>
                <li>Doing business as (DBA)</li>
                <li>Nonprofit</li>
                <li>Sole Proprietorship</li>
                <li class="hr">View All</li>
              </ul>
            </div>
            <div class="col col-xs-4">
              <a>Run your business</a>
              <ul>
                <li>Registered Agent Services</li>
                <li>Annual Report</li>
                <li>Contracts & Agreements</li>
                <li>Business Licenses</li>
                <li>Foreign Qualification</li>
                <li>Corporate Amendment</li>
                <li class="hr">View All</li>
              </ul>
            </div>
            <div class="col col-xs-4">
              <a>Protect your brand</a>
              <ul>
                <li>Trademark Registration</li>
                <li>Trademark Search</li>
                <li>Trademark Monitoring</li>
                <li>Provisional Parent</li>
                <li>Copyright</li>
                <li class="hr">View All</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <span>Personal</span>
        <div class="dropdown">
          <div class="row">
            <div class="col col-xs-4">
              <a>Wills & Trusts</a>
              <ul>
                <li>Estate Plan Bundle</li>
                <li>Last Will & Testament</li>
                <li>Living Trust</li>
                <li>Power of Attorney</li>
                <li>Living Will</li>
              </ul>
            </div>
            <div class="col col-xs-4">
              <a>Family</a>
              <ul>
                <li>Divorce</li>
                <li>Name Change</li>
              </ul>
            </div>
            <div class="col col-xs-4">
              <a>Real Estate</a>
              <ul>
                <li>Residential Lease</li>
                <li>Property Deed Transfer</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>Resources</li>
      <li>
        Support
        <ul class="regular">
          <li>Check Order Status</li>
          <li>Contact Us</li>
          <li>FAQ</li>
        </ul>
      </li>
    </ul>
  </nav>

  <a class="login" routerLink="login">Sign In</a>
</header>
