/* COLORS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
// COMPONENTS
$white: #fff;
$gray: #d7d7d7;
$gray-light: #fafafa;
$gray-extra-light: #f4f4f4;
$gray-light-regular: #e5e5e5;
$gray-regular: #e9e9e9;
$gray-light-dark: #666;
$gray-dark: #333;
$gray-dark1: #3e3e3e;
$blue: #0068AC;
$blue1: #1A86CD;
$navyblue: #00518a;
$green: #77CA3B;

// ELEMENTS
$darkgrey: #2d3943;
$darkgrey1: #333333;
$mediumgrey: #8996a0;
$mediumgrey1: #979797;
$lightgrey: #f4f4f4;
$grey1: #c5c5c5;
$grey2: #e2e2e2;
$grey3: #9194A1;
$grey4: #cbcfd2;
$grey5: #AEAEAE;
$dark-grey: #555;

/* SIZES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
$html-font-size: 62.5%;
$font-size: 17px;


/* ELEMENTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
$headersepbackground: $grey1;
$bodybackground: $lightgrey;
$bodyfontsize: $font-size;