<ng-template #editemail>
  <form [formGroup]="form">
    <div id="EDIT_EMAIL" class="modal-header">
      <h1>Edit Email</h1>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="">Old Email</label>
        <input type="text" formControlName="oldEmail">
      </div>
      <div class="form-group">
        <label for="">New Email</label>
        <input type="text" formControlName="newEmail">
        <alert *ngIf="form.errors && form.errors['oldEmail']" type="danger">
          New email can not be same as old email.
        </alert>
        <alert *ngIf="form.get('newEmail').errors && form.get('newEmail').errors.emailTaken" type="danger">
          {{form.get('newEmail').errors.emailTaken}}
        </alert>
      </div>
      <div class="form-group">
        <label for="">Retype New Email</label>
        <input type="text" formControlName="retypeNewEmail">
        <alert *ngIf="form.errors && form.errors['invalidNewEmail']" type="danger">
          Email does not match.
        </alert>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" name="button" (click)="editUserEmail()" [disabled]="!form.valid || loading">Edit</button>
    </div>
  </form>
</ng-template>
