<ng-template #listoptions>
  <!-- accessing element by id in modal service -->
  <div id="listoptions">
    <button class="btn btn-secondary" type="button" name="button" (click)="shareMobileList()">Share list</button>
    <button class="btn btn-secondary" type="button" name="button" (click)="deleteList()">Delete list</button>
    <button class="btn btn-secondary" type="button" name="button" (click)="exportList()">Export list</button>
    <button class="btn btn-secondary" type="button" name="button" (click)="changeLabels()">Change Labels</button>
    <button class="btn btn-secondary" type="button" name="button" (click)="modalService.close()">Cancel</button>
  </div>
</ng-template>