@import "../../../../../assets/css/abstracts/_mixins.scss";

.list__options__popup {
  @include animation(slide-in-bottom ease-in .2s);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;

  .modal-content {
    @include border-radius(0px);

    .btn {
      @include border-radius(0px);
      font-family: 'AM', sans-serif;
      font-weight: normal;
      border-bottom: 1px solid #ddd;
      background: #fafafa;

      &:last-child {
        border: none;
        background: #eee;
      }
    }
  }
}
