@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

:host {
  background: #ff333d;
  position: relative;
  z-index: 0;

  &:before {
    content: "";
    display: block;
    border-top: 4px solid #f5dbdc;
    width: 100px;
    height: 4px;
    margin: 0px auto;
    top: -2px;
    position: relative;
  }

  footer {
    @include flexbox();
    padding: 0 0 4px 0;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto";

    img {
      @include transition(all 0.25s ease-in);
      width: 55px;
      position: absolute;
      top: -20px;

      &:hover {
        top: -40px;
      }
    }

    span {
      color: #f5dbdc;
      font-size: 11px;
      margin-left: 70px;
    }

    ul {
      @include flexbox();
      margin-left: auto;
      gap: 0 30px;
      li {
        list-style: none;

        a {
          font-size: 11px;
          color: #f5dbdc;
          text-transform: uppercase;
          letter-spacing: 1px;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
