<header>
  <div class="container">
    <img src="./assets/favicon/android-chrome-192x192.png" />

    <h1>{{ type }} - {{ order }} Services</h1>
  </div>
</header>

<div class="main container">
  <div class="row">
    <div class="col-md-8 main-content">
      <h2>Let's get started...</h2>
      <p>
        Did you start your business with us? Sign in to select your business.
      </p>
      <app-forms></app-forms>
    </div>
    <aside class="col-md-4">
      <app-summary></app-summary>
    </aside>
  </div>
</div>
<footer class="container">
  <p>© llc.cheap. All rights reserved.</p>
  <p>
    Disclaimer: Communications between you and llc.cheap are protected by our
    Privacy Policy but not by the attorney-client privilege or as work product.
    llc.cheap provides access to independent attorneys and self-help services at
    your specific direction. We are not a law firm or a substitute for an
    attorney or law firm. We cannot provide any kind of advice, explanation,
    opinion, or recommendation about possible legal rights, remedies, defenses,
    options, selection of forms or strategies. Your access to the website is
    subject to our Terms of Use.
  </p>
</footer>
