<div class="container">
  <section class="relative container documentation">
    <div class="row">
      <div class="col-md-4">
        <header>
          <h6>Customer Designed</h6>
          <h2 class="mb-20">Free legal guides and documentation</h2>
        </header>
        <p class="mb-30">
          We agonize over having your teams spending months for researching and
          spending in legal fees to find soad approaches. Without spending
          countless hours searching for it.
        </p>
        <button><a routerLink="resources">Read the Docs</a></button>

        <div class="row mt-40 documentation-blurb">
          <div class="col-md-5">
            <a>How to start a business</a>
            <p>
              Check out guides to help you successfully start your own business.
            </p>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <a>How to run a business</a>
            <p>Guides to help you in case your just starting out.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1 mt-100">
        <div class="documentation-list">
          <a href="">Starting your LLC</a>
          <a href="">Starting your Nonprofit</a>
          <a href="">Forming a Corporation</a>
          <a href="">Forming a Partnetship</a>
          <a href="">Trademarks</a>
          <a href="">Estate Planning</a>
          <a href="">Intellectual Property</a>
          <a href="">Family Legal Matters</a>
          <a href="">Real Estate</a>
          <a href="">Corporate Law</a>
          <a href="">Partnerships</a>
          <a href="">Bankruptcy</a>
          <a href="">Last Wills</a>
          <a href="">Employment Law</a>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="resources-background"></div>
